.preview {
    position: relative;
    margin: auto;
    width: 375px;
    outline: none;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
    overflow: auto;
    padding: 20px;
    background-color: #fff;
}
/* 代码块滚动条 */
#wenyan .hljs::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: #fff
}
#wenyan .hljs::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #90929880
}
#wenyan .hljs::-webkit-scrollbar {
    height: 6px;
    background-color: #fff
}
