#wenyan {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.75;
}
#wenyan * {
    box-sizing: border-box;
}
#wenyan h1, h2, h3, h4, h5, h6, p, pre {
    margin: 1em 0;
}
#wenyan pre code::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #fff
}

#wenyan pre code::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: #c8c8c84d
}

#wenyan pre code::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #90929880
}
#wenyan h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
    margin-top: 35px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
#wenyan h1 {
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 5px;
}
#wenyan h2 {
    font-size: 22px;
    line-height: 34px;
    padding-bottom: 12px;
    border-bottom: 1px solid #ececec;
}
#wenyan h3 {
    font-size: 20px;
    line-height: 28px;
}
#wenyan ul, ol {
    padding-left: 1.2em;
}
#wenyan li {
    margin-left: 1.2em;
}
#wenyan img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}
#wenyan table {
    display: inline-block !important;
    font-size: 12px;
    width: auto;
    max-width: 100%;
    overflow: auto;
    border: 1px solid #f6f6f6;
}
#wenyan thead {
    background: #f6f6f6;
    color: #000;
    text-align: left;
}
#wenyan table td, table th {
    padding: 12px 7px;
    line-height: 24px;
}
#wenyan blockquote {
    color: #666;
    padding: 1px 23px;
    margin: 22px 0;
    border-left: 4px solid #cbcbcb;
    background-color: #f8f8f8;
    font-size: .95em;
}
#wenyan p code {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "liberation mono", "courier new", monospace;
    background: #fff5f5;
    color: #ff502c;
    padding: 4px 6px;
    font-size: .78em;
}
#wenyan pre {
    font-size: .95em;
    line-height: 1.5;
    margin: 1em 0.5em;
    padding: 1em;
    color: #333;
    background: #f8f8f8;
}
#wenyan pre code {
    display: block;
    overflow-x: auto;
    margin: 0;
    padding: 0;
}
#wenyan hr {
    border: none;
    border-top: 1px solid #ddd;
    margin-top: 32px;
    margin-bottom: 32px;
}
#wenyan #footnotes ul {
    font-size: 0.9em;
    margin: 0;
    padding-left: 1.2em;
}
#wenyan #footnotes li {
    margin: 0 0 0 1.2em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}
