/*
 *     Typora Theme - Lapis    /    Author - YiNN
 *     https://github.com/YiNNx/typora-theme-lapis
 */

:root {
    --text-color: #40464f;
    /* Text */
    --primary-color: #4870ac;
    /* Primary Color */
    --bg-color: #ffffff;
    /* Background */
    
    --marker-color: #a2b6d4;
    /* List Marker */
    --source-color: #a8a8a9;
    /* Highlight */
    --header-span-color: var(--primary-color);
    /* h2 Span Color */
    --block-bg-color: #f6f8fa;
}

/*
 * Basic Style
 */
#wenyan {
    color: var(--text-color);
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.75;
}
#wenyan * {
    box-sizing: border-box;
}
#wenyan p, pre {
    margin: 1em .8em;
}
/* Strong */
#wenyan strong {
    color: var(--primary-color);
}

/* Link */
#wenyan a {
    color: var(--primary-color);
}

/*
 * Paragraph
 */

#wenyan p {
    color: var(--text-color);
}

/*
 * Header
 */

#wenyan h4,
#wenyan h5,
#wenyan h6 {
    font-weight: normal;
}

#wenyan h1,
#wenyan h2,
#wenyan h3,
#wenyan h4,
#wenyan h5,
#wenyan h6 {
    padding: 0px;
    color: var(--primary-color);
    margin: 1.2em 0 1em;
}

#wenyan h1 {
    text-align: center;
}

#wenyan h2 {
    padding: 1px 12.5px;
    border-radius: 4px;
    display: inline-block;
}

#wenyan h2,
#wenyan h2 code {
    background-color: var(--header-span-color);
}

#wenyan h2,
#wenyan h2 a,
#wenyan h2 code,
#wenyan h2 strong,
#wenyan h2 script {
    color: var(--bg-color);
}

#wenyan h1 {
    font-size: 1.5em;
}

#wenyan h2 {
    font-size: 1.3em;
}

#wenyan h3 {
    font-size: 1.3em;
}

#wenyan h4 {
    font-size: 1.2em;
}

#wenyan h5 {
    font-size: 1.2em;
}

#wenyan h6 {
    font-size: 1.2em;
}

#wenyan ul {
    list-style-type: disc;
}

#wenyan em {
    padding: 0 3px 0 0;
}

#wenyan ul ul {
    list-style-type: square;
}

#wenyan ol {
    list-style-type: decimal;
}

/*
 * Quote
 */

#wenyan blockquote {
    display: block;
    font-size: .9em;
    border-left: 3px solid var(--primary-color);
    padding: .5em 1em;
    margin: 0;
    background: var(--block-bg-color);
}

/*
 * Inline code
 */

#wenyan p code {
    color: var(--primary-color);
    font-size: .9em;
    font-weight: normal;
    word-wrap: break-word;
    padding: 2px 4px 2px;
    border-radius: 3px;
    margin: 2px;
    background-color: var(--block-bg-color);
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "liberation mono", "courier new", monospace;
    word-break: break-all;
}

/*
 * Img
 */

#wenyan img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}


/*
 * Table
 */
#wenyan table {
    display: table;
    text-align: justify;
    overflow-x: auto;
    border-collapse: collapse;
    max-width: 100%;
    table-layout: fixed;
    text-align: left;
    overflow: auto;
    display: inline-block;
    word-wrap: break-word;
    word-break: break-all;
}

#wenyan tbody {
    border: 0;
}

#wenyan table tr {
    border: 0;
    border-top: 1px solid #ccc;
}

#wenyan table tr th,
#wenyan table tr td {
    border: 1px solid #d9dfe4;
    height: 40px;
    padding: 9px 12px;
    font-size: .75em;
    line-height: 22px;
    min-width: 60px;
    vertical-align: top;
}

#wenyan table tr th {
    text-align: center;
    font-weight: bold;
    color: var(--primary-color);
}

#wenyan table tr td:hover,
#wenyan table tr th:hover {
    background-color: var(--block-bg-color);
}

/*
 * Dividing line
 */
#wenyan hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #eef2f5;
    border-radius: 2px;
}
/* 代码块 */
#wenyan pre {
    border-radius: 5px;
    font-size: .8em;
    line-height: 2;
    margin: 1em 0.5em;
    padding: 1em;
    background-color: var(--block-bg-color);
}
#wenyan pre code {
    display: block;
    overflow-x: auto;
    margin: 0;
    padding: 0;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "liberation mono", "courier new", monospace;
}
/* 原始链接旁脚注上标 */
#wenyan .footnote {
    color: var(--primary-color);
}
/* 脚注行 */
#wenyan #footnotes p {
    display: flex;
    margin: 0;
    font-size: 0.9em;
}
/* 脚注行内编号 */
#wenyan .footnote-num {
    display: inline;
    width: 10%;
}
/* 脚注行内文字 */
#wenyan .footnote-txt {
    display: inline;
    width: 90%;
    word-wrap: break-word;
    word-break: break-all;
}
