/*
 *     Typora Theme - Maize    /    Author - BEATREE
 *     https://github.com/BEATREE/typora-maize-theme
 */

:root {
    --bg-color: #fafafa;
    --text-color: #333333;
    --primary-color: #428bca;
    --sans-serif-font: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --monospace-font: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "liberation mono", "courier new", monospace;
}
#wenyan {
    font-family: var(--sans-serif-font);
    line-height: 1.75;
    font-size: 16px;
}
#wenyan p,
#wenyan pre {
    margin: 1em 0;
}
#wenyan h1,
#wenyan h2,
#wenyan h3,
#wenyan h4,
#wenyan h5,
#wenyan h6 {
    margin: 1.2em 0 1em;
    padding: 0px;
    font-weight: bold;
}
#wenyan h1 {
    font-size: 1.5em;
}
#wenyan h2::before {
    display: inline-block;
    content: "✔";
    font-weight: bold;
    color: #ffb11b;
    margin-right: 4px;
}
#wenyan h2 {
    font-size: 1.3em;
}
#wenyan h2 span {
    font-weight: bold;
    color: #333;
    padding: 3px 10px 1px;
}
#wenyan h3 {
    font-size: 1.3em;
}
#wenyan h4 {
    font-size: 1.2em;
}
#wenyan h5 {
    font-size: 1.2em;
}
#wenyan h6 {
    font-size: 1.2em;
}
#wenyan ul,
#wenyan ol {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 40px;
    color: black;
}
#wenyan ul {
    list-style-type: disc;
}
#wenyan ul ul {
    list-style-type: square;
}
#wenyan ol {
    list-style-type: decimal;
}
#wenyan strong {
    color: #e49123;
    font-weight: bold;
}
#wenyan blockquote {
    margin: 0;
    padding: 10px 10px 10px 20px;
    font-size: 0.9em;
    background: #fff9f9;
    border-left: 3px solid #ffb11b;
    color: #6a737d;
    overflow: auto;
}
#wenyan a {
    text-decoration: none;
    font-weight: bold;
    color: #e49123;
    border-bottom: 1px solid #e49123;
}
#wenyan hr {
    height: 1px;
    padding: 0;
    border: none;
    text-align: center;
    background-image: linear-gradient(to right, rgba(231, 93, 109, 0.3), rgba(255, 159, 150, 0.75), rgba(255, 216, 181, 0.3));
}
#wenyan p code,
#wenyan span code,
#wenyan li code {
    font-family: var(--monospace-font);
    word-wrap: break-word;
    padding: 2px 4px;
    border-radius: 4px;
    margin: 0 2px;
    word-break: break-all;
    color: rgb(235, 76, 55);
    background-color: #f0f0f0;
}
#wenyan img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    width: 85%;
    border-radius: 5px;
    box-shadow: 0px 4px 12px #84a1a8;
    border: 0px;
}
#wenyan table {
    border-collapse: collapse;
    margin: 1.4em auto;
    max-width: 100%;
    table-layout: fixed;
    text-align: left;
    overflow: auto;
    display: inline-block;
    word-wrap: break-word;
    word-break: break-all;
}
#wenyan table td,
#wenyan table th {
    font-size: 0.75em;
    height: 40px;
    padding: 9px 12px;
    line-height: 22px;
    color: #222;
    min-width: 60px;
    border: 1px solid rgb(255, 216, 181);
    vertical-align: top;
}
#wenyan table th {
    font-weight: bold;
    color: #ffb11b;
    background: #fff9f9;
}
#wenyan table tr:nth-child(2n) {
    background: #fff9f9;
}
#wenyan pre {
    border-radius: 5px;
    line-height: 2;
    margin: 1em 0.5em;
    padding: 1em;
    background-color: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 2px 10px;
    font-size: 0.8em;
}
#wenyan pre code {
    display: block;
    overflow-x: auto;
    margin: 0;
    padding: 0;
    font-family: var(--monospace-font);
}
#wenyan .footnote {
    font-weight: bold;
    color: #e49123;
}
#wenyan #footnotes p {
    display: flex;
    margin: 0;
    font-size: 0.9em;
}
#wenyan .footnote-num {
    display: inline;
    width: 10%;
}
#wenyan .footnote-txt {
    display: inline;
    width: 90%;
    word-wrap: break-word;
    word-break: break-all;
}
