/*
 *     Typora Theme - Maize    /    Author - BEATREE
 *     https://github.com/BEATREE/typora-maize-theme
 */

/* 全局属性 */
:root{
    --bg-color:  #fafafa;                   /*change background*/
    --text-color: #333333;                  /*change text color*/
    
    --primary-color: #428bca;               /* color of primary buttons */
    --monospace: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "liberation mono", "courier new", monospace;                   /*monospace font for codes, fences*/
}

#wenyan {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.75;
}
#wenyan * {
    box-sizing: border-box;
}
/*段落*/
#wenyan p, pre {
    margin: 1em 0;
}

/*标题*/
#wenyan h1,
#wenyan h2,
#wenyan h3,
#wenyan h4,
#wenyan h5,
#wenyan h6 {
    margin: 1.2em 0 1em;
    padding: 0px;
    font-weight: bold;
}
#wenyan h1 {
    font-size: 1.5em;
    /* text-align: center; */
}
#wenyan h2::before{
    content: "✔";
    font-weight: bold;
    color: #ffb11b;
    margin-right: 4px;
    font-family: 'Segoe UI Symbol', Arial, sans-serif;
}
#wenyan h2 {
    font-size: 1.3em;
}
#wenyan h2 span {
    font-weight: bold;
    color: #333;
    padding: 3px 10px 1px;
}

#wenyan h3 {
    font-size: 1.3em;
}
#wenyan h4 {
    font-size: 1.2em;
}
#wenyan h5 {
    font-size: 1.2em;
}
#wenyan h6 {
    font-size: 1.2em;
}

/* 列表 */
#wenyan ul,
#wenyan ol {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 40px;
    color: black;
}
#wenyan ul {
    list-style-type: disc;
}
#wenyan ul ul {
    list-style-type: square;
}
#wenyan ol {
    list-style-type: decimal;
}
/* 列表内容 */
#wenyan li section {
    font-size:15px;
}

/* 字体加粗 */
/* #wenyan strong::before {
 content: '「';
 } */

#wenyan strong {
    color: #E49123;
    font-weight: bold;
}

/* #wenyan strong::after {
 content: '」';
 } */

/*引用*/
#wenyan blockquote {
    margin: 0;
    padding: 10px 10px 10px 20px;
    font-size: 0.9em;
    background: #fff9f9;
    border-left: 3px solid #ffb11b;
    color: #6a737d;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/* 超链接 */
#wenyan a {
    text-decoration: none;
    font-weight: bold;
    color: #E49123;
    border-bottom: 1px solid #E49123;
}

/* 分割线 */
#wenyan hr {
    height: 1px;
    padding: 0;
    border: none;
    text-align: center;
    background-image: linear-gradient(to right,rgba(231, 93, 109,0.3),rgba(255, 159, 150,0.75),rgba(255, 216, 181,0.3));
}

/* 行内代码 */
#wenyan p code,
#wenyan span code,
#wenyan li code {
    word-wrap: break-word;
    padding: 2px 4px;
    border-radius: 4px;
    margin: 0 2px;
    word-break: break-all;
    color:  rgb(235, 76, 55);
    background-color: #f0f0f0;
}

/* 文章插图 */
#wenyan img {
    display: block;
    margin: 0 auto;
    width: 85%;
    max-width: 100%;
    border-radius: 5px;
    box-shadow:0px 4px 12px #84A1A8;
    border: 0px;
}

/* 表格 */
#wenyan table {
    border-collapse: collapse;
    margin: 1.4em auto;
    max-width: 100%;
    table-layout: fixed;
    text-align: left;
    overflow: auto;
    border: 1px solid #f6f6f6;
    display: inline-block;
    word-wrap: break-word;
    word-break: break-all;
}
#wenyan table td, table th {
    font-size: .75em;
    height: 40px;
    padding: 9px 12px;
    line-height: 22px;
    color: #222;
    min-width: 60px;
    border: 1px solid #d8d8d8;
    vertical-align: top;
}
#wenyan table th {
    font-weight: bold;
    background-color: #f0f0f0;
}
#wenyan table tr:nth-child(2n) {
    background-color: #F8F8F8;
}


/* 上角标 */
#wenyan .footnote {
    font-weight: bold;
    color: #E49123;
}

/* 代码块主题 */
#wenyan pre {
    border-radius: 5px;
    line-height: 2;
    margin: 1em 0.5em;
    padding: 1em;
    background-color: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 2px 10px;
    font-size: .8em;
}
#wenyan pre code {
    display: block;
    overflow-x: auto;
    margin: 0;
    padding: 0;
    font-family: var(--monospace);
}
#wenyan pre code::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: #c8c8c84d
}
#wenyan pre code::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #90929880
}
#wenyan pre code::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #fff
}
/* 脚注 */
#wenyan #footnotes p {
    margin: 0;
    font-size: 0.9em;
    padding-left: 1.2em;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 2;
}
#wenyan #footnotes p span {
    margin-left: 1.2em;
}
