:root {
    --sans-serif-font: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
    --monospace-font: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "liberation mono", "courier new", monospace;
}
#wenyan {
    font-family: var(--sans-serif-font);
    line-height: 1.75;
    font-size: 16px;
}
#wenyan * {
    box-sizing: border-box;
}
#wenyan h1,
#wenyan h2,
#wenyan h3,
#wenyan h4,
#wenyan h5,
#wenyan h6 {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 1em 0;
}
#wenyan h1 {
    font-size: 2em;
    font-weight: 700;
}
#wenyan h2,
#wenyan h3 {
    font-size: 1.3em;
    font-weight: 700;
}
#wenyan h4,
#wenyan h5,
#wenyan h6 {
    font-size: 1.2em;
    font-weight: 700;
}
#wenyan p {
    letter-spacing: -0.003em;
    margin: 1em 0;
}
#wenyan ul,
#wenyan ol {
    padding-left: 1.2em;
}
#wenyan li {
    margin-left: 1.2em;
}
#wenyan img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}
#wenyan table {
    border-collapse: collapse;
    font-size: 15px;
    margin: 1.4em auto;
    max-width: 100%;
    table-layout: fixed;
    text-align: left;
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
}
#wenyan table th {
    background: #ebeced;
    color: #191b1f;
    font-weight: 500;
}
#wenyan table td,
#wenyan table th {
    border: 1px solid #c4c7ce;
    height: 24px;
    line-height: 24px;
    padding: 3px 12px;
}
#wenyan blockquote {
    letter-spacing: -0.003em;
    border-left: 3px solid rgba(0, 0, 0, 0.84);
    padding-left: 20px;
    margin: 0 0 20px 0;
}
#wenyan p code {
    padding: 4px 6px;
    font-size: 0.78em;
    border-radius: 3px;
    font-family: var(--monospace-font);
    background-color: #f2f2f2;
}
#wenyan pre {
    line-height: 2;
    margin: 1em 0.5em;
    padding: 1em;
    background: #f9f9f9;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
}
#wenyan pre code {
    display: block;
    overflow-x: auto;
    margin: .5em;
    padding: 0;
    font-family: var(--monospace-font);
    background: #f9f9f9;
}
#wenyan hr {
    border: none;
    border-top: 1px solid #c4c7ce;
    margin: 2em auto;
    max-width: 100%;
    width: 240px;
}
/* 链接 */
#wenyan a {
    word-wrap: break-word;
    color: #000000;
}
/* 脚注 */
#wenyan #footnotes ul {
    font-size: 0.9em;
    margin: 0;
    padding-left: 1.2em;
}
#wenyan #footnotes li {
    margin: 0 0 0 1.2em;
    word-wrap: break-word;
    word-break: break-all;
}
#wenyan .footnote {
    color: #000000;
}
