/*
 *     Typora Theme - Orange Heart    /    Author - evgo2017
 *     https://github.com/evgo2017/typora-theme-orange-heart
 */

:root {
    --sans-serif-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --monospace-font: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
#wenyan {
    font-family: var(--sans-serif-font);
    line-height: 1.75;
    font-size: 16px;
}
#wenyan p,
#wenyan pre {
    margin: 1em 0;
}
#wenyan h1,
#wenyan h2,
#wenyan h3,
#wenyan h4,
#wenyan h5,
#wenyan h6 {
    margin: 1.2em 0 1em;
    padding: 0px;
    font-weight: bold;
}
#wenyan h1 {
    font-size: 1.5em;
}
#wenyan h2 {
    font-size: 1.3em;
    border-bottom: 2px solid rgb(239, 112, 96);
}
#wenyan h2 span {
    display: inline-block;
    font-weight: bold;
    background: rgb(239, 112, 96);
    color: #ffffff;
    padding: 3px 10px 1px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    margin-right: 3px;
}
#wenyan h2::after {
    display: inline-block;
    content: "";
    vertical-align: bottom;
    border-bottom: 36px solid #efebe9;
    border-right: 20px solid transparent;
}
#wenyan h3 {
    font-size: 1.3em;
}
#wenyan h4 {
    font-size: 1.2em;
}
#wenyan h5 {
    font-size: 1.1em;
}
#wenyan h6 {
    font-size: 1em;
}
#wenyan ul,
#wenyan ol {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 25px;
    color: black;
}
#wenyan ul {
    list-style-type: disc;
}
#wenyan ul ul {
    list-style-type: square;
}
#wenyan ol {
    list-style-type: decimal;
}
#wenyan blockquote {
    margin: 0;
    display: block;
    font-size: 0.9em;
    overflow: auto;
    border-left: 3px solid rgb(239, 112, 96);
    color: #6a737d;
    padding: 10px 10px 10px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    background: #fff9f9;
}
#wenyan a {
    text-decoration: none;
    word-wrap: break-word;
    font-weight: bold;
    color: rgb(239, 112, 96);
    border-bottom: 1px solid rgb(239, 112, 96);
}
#wenyan p code,
#wenyan li code {
    font-size: 0.9em;
    word-wrap: break-word;
    padding: 2px 4px;
    border-radius: 4px;
    margin: 0 2px;
    color: rgb(239, 112, 96);
    background-color: rgba(27, 31, 35, 0.05);
    font-family: var(--monospace-font);
    word-break: break-all;
}
#wenyan img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}
#wenyan span img {
    max-width: 100%;
    display: inline-block;
    border-right: 0px;
    border-left: 0px;
}
#wenyan table {
    border-collapse: collapse;
    margin: 1.4em auto;
    max-width: 100%;
    table-layout: fixed;
    text-align: left;
    overflow: auto;
    display: table;
    word-wrap: break-word;
    word-break: break-all;
}
#wenyan table td,
#wenyan table th {
    font-size: 0.75em;
    padding: 9px 12px;
    line-height: 22px;
    color: #222;
    border: 1px solid rgb(239, 112, 96);
    vertical-align: top;
}
#wenyan table th {
    font-weight: bold;
    background-color: #fff9f9;
    color: rgb(239, 112, 96);
}
#wenyan span code,
#wenyan li code {
    color: rgb(239, 112, 96);
}
#wenyan pre {
    border-radius: 5px;
    font-size: 0.8em;
    line-height: 2;
    margin: 1em 0.5em;
    padding: .5em;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 1px 5px;
}
#wenyan pre code {
    display: block;
    margin: .5em;
    padding: 0;
    font-family: var(--monospace-font);
}
#wenyan .footnote {
    color: rgb(239, 112, 96);
}
#wenyan #footnotes p {
    display: flex;
    margin: 0;
    font-size: 0.9em;
}
#wenyan .footnote-num {
    display: inline;
    width: 10%;
}
#wenyan .footnote-txt {
    display: inline;
    width: 90%;
    word-wrap: break-word;
    word-break: break-all;
}
