/*
 *     Typora Theme - Phycat    /    Author - sumruler
 *     https://github.com/sumruler/typora-theme-phycat
 */

 :root {
    /* 标题后小图标，借鉴自思源笔记主题——Savor */
    --h1-r-graphic: url("https://cdn.phycat.cn/img/mdicon/green/h1_icon.svg")
        no-repeat center;
    --h2-r-graphic: url("https://cdn.phycat.cn/img/mdicon/green/h2_icon.svg")
        no-repeat center;
    --h3-r-graphic: url("https://cdn.phycat.cn/img/mdicon/green/h3_icon.svg")
        no-repeat center;
    --h4-r-graphic: url("https://cdn.phycat.cn/img/mdicon/green/h4_icon.svg")
        no-repeat center;
    --h5-r-graphic: url("https://cdn.phycat.cn/img/mdicon/green/h5_icon.svg")
        no-repeat center;
    --h6-r-graphic: url("https://cdn.phycat.cn/img/mdicon/green/h6_icon.svg")
        no-repeat center;

    /* 是否开启网格背景？1 是；0 否 */
    --bg-grid: 0;

    /* 主题颜色 */

    --head-title-color: #3db8bf;
    /* 标题主色 */
    --head-title-h2-color: #fff;
    --head-title-h2-background: linear-gradient(to right, #3db8d3, #80f7c4);
    /* 二级标题主色，因为二级标题是背景色的，所以单独设置 */

    --element-color: #3db8bf;
    /* 元素主色 */
    --element-color-deep: #089ba3;
    /* 元素深色 */
    --element-color-shallow: #7aeaf0;
    /* 元素浅色 */
    --element-color-so-shallow: #7aeaf077;
    /* 元素很浅色 */
    --element-color-soo-shallow: #7aeaf018;
    /* 元素非常浅色 */

    --element-color-linecode: #089ba3;
    /* 行内代码文字色 */
    --element-color-linecode-background: #7aeaf018;
    /* 行内代码背景色 */
    --monospace-font: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    --sans-serif-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
#wenyan {
    font-size: 14px;
    font-family:var(--sans-serif-font);
    margin: 0 auto;
    padding: 15px;
    line-height: 1.75;
    color: #000;
    letter-spacing: 1.1px;
    word-break: break-word;
    word-wrap: break-word;
    text-align: left;
    background-image: linear-gradient(90deg,
    rgba(50, 0, 0, 0.05) calc(3% * var(--bg-grid)),
    rgba(0, 0, 0, 0) calc(3% * var(--bg-grid))),
    linear-gradient(360deg,
    rgba(50, 0, 0, 0.05) calc(3% * var(--bg-grid)),
    rgba(0, 0, 0, 0) calc(3% * var(--bg-grid)));
  background-size: 20px 20px;
  background-position: center center;
}
#wenyan p {
    font-family: Optima-Regular, Optima, PingFangSC-light, PingFangTC-light,
    Cambria, Cochin, Georgia, Times, serif;
    text-align:justify;
    color: #333;
    margin: 10px 10px;
    word-spacing: 2px;
}
#wenyan h3::after,
#wenyan h4::after,
#wenyan h5::after,
#wenyan h6::after {
    content: '';
    display: inline-block;
    margin-left: 0.2em;
    height: 2em;
    width: 1.2em;
    vertical-align: middle;
}
#wenyan h3::after {
    content: '';
    background: var(--h3-r-graphic);
    background-position-y: 2px;
}
#wenyan h4::after {
    content: '';
    background: var(--h4-r-graphic);
    background-position-y: -px;
}
#wenyan h5::after {
    content: '';
    background: var(--h5-r-graphic);
    background-position-y: 2px;
}
#wenyan h6::after {
    content: '';
    background: var(--h6-r-graphic);
    background-position-y: 2px;
}
#wenyan h1 {
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
}
#wenyan h2 {
    color: var(--head-title-h2-color);
    font-size: 1.4em;
    line-height: 1.6;
    width: fit-content;
    font-weight: bold;
    margin: 20px 0 5px;
    padding: 1px 12.5px;
    border-radius: 4px;
    background: var(--head-title-h2-background);
    background-size: 200% 100%;
    background-position: 0% 0%;
    transition: all ease-in-out 0.1s;
}
#wenyan h3,h4,h5,h6{
font-weight: bold;
}
#wenyan h3 {
    width: fit-content;
    margin: 20px 0 5px;
    font-size: 1.3em;
    text-align: left;
    padding-left: 10px;
    border-left: 5px solid var(--head-title-color);
}
#wenyan h3 span {
    border-bottom: 2px hidden var(--head-title-color);
}
#wenyan h4 {
    margin: 20px 0 5px;
    font-size: 1.15em;
    text-align: left;
}
#wenyan h4::before {
    content: '';
    margin-right: 7px;
    display: inline-block;
    background-color: var(--head-title-color);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: var(--head-title-color) 1px solid;
    vertical-align: middle;
}
#wenyan h5 {
    margin: 20px 0 5px;
    font-size: 1.1em;
    text-align: left;
}
#wenyan h5::before {
    content: '';
    margin-right: 7px;
    display: inline-block;
    background-color: #ffffff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: var(--head-title-color) 2px solid;
    vertical-align: middle;
}
#wenyan h6 {
    margin: 20px 0 5px;
    font-size: 1.1em;
    text-align: left;
}
#wenyan h6::before {
    content: '⁘';
    color: var(--head-title-color);
    margin-right: 7px;
    display: inline-block;
    vertical-align: middle;
}
/* 列表 */
::marker {
  color: var(--element-color-deep);
}

li.md-list-item {
  margin: 0.4rem 0;
}

#wenyan ol {
  margin-left: 2px;
  padding-left: 12px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#wenyan ul {
  list-style-type: disc;
  margin-bottom: 0px;
  margin-top: 0px;
}

#wenyan ul ul {
  list-style-type: circle;
}

#wenyan ul ul ul {
  list-style-type: square;
}

#wenyan ol {
  padding-left: 27px;
  list-style-type: decimal;
}
#wenyan ol ol {
  list-style-type: lower-alpha;
}
#wenyan ol ol ol {
  list-style-type: lower-roman;
}

#wenyan li {
  font-family: Optima-Regular, Optima, PingFangSC-light, PingFangTC-light,
    Cambria, Cochin, Georgia, Times, serif;
  color: #333;
  margin: 0px 6px;
  word-spacing: 2px;
  line-height: 2.5;
}

#wenyan li {
  position: relative;
}
#wenyan li > p{
  margin:0;
}
#wenyan blockquote {
    font-size:12px;
    margin-left: 12px;
    text-align:justify;
    padding: 12px;
    background: var(--element-color-soo-shallow);
    border: 0px solid var(--element-color);
    border-left-color: var(--element-color);
    border-left-width: 4px;
    border-radius: 4px;
    line-height: 26px;
}
#wenyan blockquote p {
    color: #000;
}
#wenyan a {
    color: #000;
    font-weight: bolder;
    text-decoration: none;
    border-bottom: 1px solid #3db8bf;
}

#wenyan strong {
    color: #000;
    font-weight: bold;
}
#wenyan em {
    font-style: italic;
    color: #000;
}
#wenyan del {
    text-decoration-color: var(--element-color-deep);
}
#wenyan hr {
    height: 1px;
    padding: 0;
    border: none;
    border-top: 2px solid var(--head-title-color);
}
#wenyan img {
    max-width: 90%;
    display:block;
    border-radius: 6px;
    margin: 10px auto;
    object-fit: contain;
}
#wenyan p code {
    padding: 3px 3px 1px;
    color: var(--element-color-linecode);
    background: var(--element-color-linecode-background);
    border-radius: 3px;
    font-family: var(--monospace-font);
    letter-spacing: 0.5px;
}
#wenyan li code {
    color: var(--element-color-linecode);
}
#wenyan pre {
    border-radius: 5px;
    font-size:12px;
    line-height: 2;
    margin: 1em 0.5em;
    padding: .5em;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 1px 5px;
}
#wenyan pre code {
    font-family: var(--monospace-font);
    display: block;
    overflow-x: auto;
    margin: .5em;
    padding: 0;
}
#wenyan table {
    border-collapse: collapse;
    margin: 1.4em auto;
    max-width: 100%;
    table-layout: fixed;
    text-align: left;
    overflow: auto;
    display: table;
    word-wrap: break-word;
    word-break: break-all;
}
#wenyan table td,
#wenyan table th {
    font-size: 10px;
    padding: 9px 12px;
    line-height: 22px;
    color: #222;
    border: 1px solid var(--element-color-deep);
    vertical-align: top;
}
#wenyan table th {
    font-weight: bold;
    background-color: var(--element-color-soo-shallow);
    color: var(--element-color-deep);
}

#wenyan .footnote {
    color: var(--primary-color);
}
#wenyan #footnotes p {
    display: flex;
    margin: 0;
    font-size: 0.9em;
}
#wenyan .footnote-num {
    display: inline;
    width: 10%;
}
#wenyan .footnote-txt {
    display: inline;
    width: 90%;
    word-wrap: break-word;
    word-break: break-all;
}
