/*
 *     Typora Theme - Pie    /    Author - kevinzhao2233
 *     https://github.com/kevinzhao2233/typora-theme-pie
 */

:root {
    --primary-color: #f22f27;
    
    /* 中性色 */
    --mid-1: #ffffff;
    --mid-2: #fafafa;
    --mid-3: #f5f5f5;
    --mid-4: #f0f0f0;
    --mid-5: #d9d9d9;
    --mid-6: #bfbfbf;
    --mid-7: #8c8c8c;
    --mid-8: #595959;
    --mid-9: #434343;
    --mid-10: #262626;
    --mid-11: #1f1f1f;
    --mid-12: #141414;
    --mid-13: #000000;
    
    /* 主题色 */
    --main-1: #fff2f0;
    --main-2: #ffd6d1;
    --main-3: #ffb0a8;
    --main-4: #f27f79;
    --main-5: #e6514e;
    --main-6: #da282a;
    --main-7: #b3171f;
    --main-8: #893128;
    --main-9: #66030f;
    --main-10: #40010b;
    
    /* 字体 */
    --font-normal: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-code: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "liberation mono", "courier new", monospace;
}


#wenyan {
    font-family: var(--font-normal);
    line-height: 1.75;
    color: var(--mid-10);
    letter-spacing: 0;
}
#wenyan * {
    box-sizing: border-box;
}
#wenyan p, pre {
    margin: 1em .8em;
}
#wenyan p {
    word-spacing: 0.05rem;
    text-align: justify;
}

/* 链接 */
#wenyan a {
    color: var(--main-6);
    text-decoration: none;
    border-bottom: 1px solid var(--main-6);
    transition: border-bottom 0.2s;
    padding: 0 2px;
    font-weight: 500;
    text-decoration: none;
}

/* 链接内容为空时直接啥也不显示，比如锚点的地方 */
#wenyan a:empty {
    font-size: 0;
    border: none;
}

#wenyan h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin: 1.2em 0 1em;
    padding: 0px;
    font-weight: bold;
    cursor: text;
}

#wenyan h2 a,
h3 a {
    color: var(--mid-9);
}

#wenyan h1 {
    font-size: 1.5em;
    text-align: center;
}

#wenyan h1::after {
    display: block;
    width: 100px;
    height: 2px;
    margin: 0.2em auto 0;
    content: '';
    border-bottom: 2px dashed var(--main-6);
}

#wenyan h2 {
    padding-left: 6px;
    margin: 2em auto 1.4em;
    font-size: 1.3em;
    border-left: 6px solid var(--main-6);
}

#wenyan h3 {
    font-size: 1.2em;
}

/* --- 三级标题左边的小圆点 --- */
#wenyan h3::before {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 6px;
    margin-bottom: 0.18em;
    line-height: 1.43;
    vertical-align: middle;
    content: '';
    background-color: var(--main-5);
    border-radius: 50%;
}

#wenyan h4 {
    font-size: 1.2em;
}

/* --- 四级标题左边的小短线 --- */
#wenyan h4::before {
    display: inline-block;
    width: 6px;
    height: 2px;
    margin-right: 8px;
    margin-bottom: 0.18em;
    vertical-align: middle;
    content: '';
    background-color: var(--main-4);
}

#wenyan h5 {
    font-size: 1.2em;
}

#wenyan h6 {
    font-size: 1.2em;
    color: var(--mid-7);
}

#wenyan li > ol,
li > ul {
    margin: 0;
}

#wenyan hr {
    box-sizing: content-box;
    width: 100%;
    height: 1px;
    padding: 0;
    margin: 46px auto 64px;
    overflow: hidden;
    background-color: var(--main-4);
    border: 0;
}

/* --- 引用块 --- */
#wenyan blockquote {
    position: relative;
    padding: 24px 16px 12px;
    margin: 24px 0 36px;
    font-size: 1em;
    font-style: normal;
    line-height: 1.6;
    color: var(--mid-7);
    text-indent: 0;
    border: none;
    border-left: 2px solid var(--main-6);
}

#wenyan blockquote blockquote {
    padding-right: 0;
}

#wenyan blockquote a {
    color: var(--mid-7);
}

/* “ 装饰 */
#wenyan blockquote::before {
    position: absolute;
    top: 0;
    left: 12px;
    font-family: Arial, serif;
    font-size: 2em;
    font-weight: 700;
    line-height: 1em;
    color: var(--main-6);
    content: '“';
}

/* 表格 */
#wenyan table {
    border-collapse: collapse;
    margin: 1.4em auto;
    max-width: 100%;
    table-layout: fixed;
    text-align: left;
    overflow: auto;
    border: 1px solid #f6f6f6;
    display: inline-block;
    word-wrap: break-word;
    word-break: break-all;
}
#wenyan table td, table th {
    font-size: .75em;
    height: 40px;
    padding: 9px 12px;
    line-height: 22px;
    min-width: 60px;
    vertical-align: top;
    color: #222;
    border: 1px solid #d8d8d8;
}
#wenyan table th {
    font-weight: bold;
    background-color: #f0f0f0;
}
#wenyan table tr:nth-child(2n) {
    background-color: #F8F8F8;
}

#wenyan strong {
    padding: 0 1px;
}

#wenyan em {
    padding: 0 5px 0 2px;
}

#wenyan p code,
tt {
    padding: 2px 4px 1px;
    margin: 0 2px;
    font-family: var(--font-code) !important;
    font-size: 0.92rem;
    color: var(--main-5);
    background-color: var(--main-1);
    border-radius: 3px;
}

#wenyan p code {
    vertical-align: 0.5px;
}

#wenyan .footnote {
    color: var(--main-5);
    background-color: var(--main-1);
}

/* --- 图片 --- */
#wenyan img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 4px;
}

/* 代码块 */
#wenyan pre {
    border-radius: 5px;
    font-size: .8em;
    line-height: 2;
    margin: 1em 0.5em;
    padding: 1em;
    background-color: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 2px 10px;
}
#wenyan pre code {
    display: block;
    overflow-x: auto;
    margin: 0;
    padding: 0;
    font-family: var(--font-code);
}
/* 原始链接旁脚注上标 */
#wenyan .footnote {
    color: rgb(239, 112, 96);
}
/* 脚注行 */
#wenyan #footnotes p {
    display: flex;
    margin: 0;
    font-size: 0.9em;
}
/* 脚注行内编号 */
#wenyan .footnote-num {
    display: inline;
    width: 10%;
}
/* 脚注行内文字 */
#wenyan .footnote-txt {
    display: inline;
    width: 90%;
    word-wrap: break-word;
    word-break: break-all;
}
