/* https://github.com/hliu202/typora-purple-theme */

:root {
    --title-color: #8064a9;
    --text-color: #444444;
    --light-text-color: #666666;
    --lighter-text-color: #888888;
    --link-color: #2aa899;
    --code-color: #745fb5;
    --shadow-color: #eee;
    --border-quote: rgba(116, 95, 181, 0.2);
    --border-quote-grey: #c8c8c8;
    --border: #e7e7e7;
    --link-bottom: #bbb;
    --shadow: 3px 3px 10px var(--shadow-color);
    --inline-code-bg: #f4f2f9;
    --header-weight: normal;
    --base-font: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --title-font: var(--base-font)
    --monospace: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "liberation mono", "courier new", monospace;
}

/* 页边距 和 页面大小 */
#wenyan {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: initial;
    font-family: var(--base-font);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0;
    line-height: 1.75;
}

#wenyan p {
    word-spacing: 0.05em;
}

/* Link 链接 */

#wenyan a {
    border-bottom: 1px solid var(--link-bottom);
    color: var(--link-color);
    text-decoration: none;
}


#wenyan h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1.2em 0 1em;
    padding: 0px;
    font-weight: var(--header-weight);
    cursor: text;
    color: var(--title-color);
    font-family: var(--title-font);
}

#wenyan h1 {
    text-align: center;
}

#wenyan h1:after {
    content: "";
    display: block;
    margin: 0.2em auto 0;
    width: 6em;
    height: 2px;
    border-bottom: 2px solid var(--title-color);
}

#wenyan h2 {
    padding-left: 0.4em;
    border-left: 0.4em solid var(--title-color);
    border-bottom: 1px solid var(--title-color);
}

#wenyan h1 tt,
h1 code {
    font-size: 1.5em;
}
#wenyan h2 tt,
h2 code {
    font-size: 1.3em;
}
#wenyan h3 tt,
h3 code {
    font-size: 1.2em;
}
#wenyan h4 tt,
h4 code {
    font-size: 1.2em;
}
#wenyan h5 tt,
h5 code {
    font-size: 1.2em;
}
#wenyan h6 tt,
h6 code {
    font-size: 1.2em;
}

#wenyan p,
blockquote,
ul,
ol,
dl,
table {
    margin: 0.8em 0;
}


/* horizontal rule */

#wenyan hr {
    margin: 1.5em auto;
    border-top: 1px solid var(--border);
}


/* 列表 */

#wenyan li>ol,
li>ul {
    margin: 0 0;
}

#wenyan li p.first {
    display: inline-block;
}

#wenyan ul,
ol {
    padding-left: 2em;
}

#wenyan ul:first-child,
ol:first-child {
    margin-top: 0;
}

#wenyan ul:last-child,
ol:last-child {
    margin-bottom: 0;
}

#wenyan ol li,
ul li {
    padding-left: 0.1em;
}


/* 引用 */

#wenyan blockquote {
    border-left: 0.3em solid var(--border-quote);
    padding-left: 1em;
    font-family: var(--base-font);
}


/* 表格 */
#wenyan table {
    border-collapse: collapse;
    margin: 1.4em auto;
    max-width: 100%;
    table-layout: fixed;
    text-align: left;
    overflow: auto;
    border: 1px solid #f6f6f6;
    display: inline-block;
    font-size: .75em;
    word-wrap: break-word;
    word-break: break-all;
}
#wenyan table td, table th {
    height: 40px;
    padding: 9px 12px;
    line-height: 22px;
    color: #222;
    min-width: 60px;
    border: 1px solid #d8d8d8;
    vertical-align: top;
}
#wenyan table th {
    font-weight: bold;
    background-color: #f0f0f0;
}
#wenyan table tr:nth-child(2n) {
    background-color: #F8F8F8;
}

/* 粗体 */

#wenyan strong {
    padding: 0 2px;
    font-weight: bold;
}


/* inline code */
#wenyan p code,
tt {
    padding: 2px 4px;
    border-radius: 0.3em;
    font-family: var(--monospace);
    font-size: 0.9em;
    color: var(--code-color);
    background-color: var(--inline-code-bg);
    margin: 0 2px;
}
/* 脚注 */
#wenyan #footnotes p {
    margin: 0;
    font-size: 0.9em;
    padding-left: 1.2em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 2;
}
#wenyan #footnotes p span {
    margin-left: 1.2em;
}
#wenyan .footnote {
    color: var(--code-color);
    background-color: var(--inline-code-bg);
}

/* 图片 */
#wenyan img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}
/* 代码块 */
#wenyan pre {
    border-radius: 5px;
    font-size: .8em;
    line-height: 2;
    margin: 1em 0.5em;
    padding: 1em;
    background-color: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 2px 10px;
}
#wenyan pre code {
    display: block;
    overflow-x: auto;
    margin: 0;
    padding: 0;
    font-family: var(--monospace);
}
#wenyan pre code::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: #c8c8c84d
}
#wenyan pre code::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #90929880
}
#wenyan pre code::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #fff
}
