/*
 *     Typora Theme - Purple    /    Author - hliu202
 *     https://github.com/hliu202/typora-purple-theme
 */

:root {
    --title-color: #8064a9;
    --text-color: #444444;
    --link-color: #2aa899;
    --code-color: #745fb5;
    --shadow-color: #eee;
    --border-quote: rgba(116, 95, 181, 0.2);
    --border: #e7e7e7;
    --link-bottom: #bbb;
    --shadow: 3px 3px 10px var(--shadow-color);
    --inline-code-bg: #f4f2f9;
    --header-weight: normal;
    --base-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --title-font: var(--base-font);
    --monospace-font: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
#wenyan {
    font-family: var(--base-font);
    color: var(--text-color);
    line-height: 1.75;
    font-size: 16px;
}
#wenyan a {
    word-wrap: break-word;
    border-bottom: 1px solid var(--link-bottom);
    color: var(--link-color);
    text-decoration: none;
}
#wenyan h1,
#wenyan h2,
#wenyan h3,
#wenyan h4,
#wenyan h5,
#wenyan h6 {
    margin: 1.2em 0 1em;
    padding: 0px;
    font-weight: var(--header-weight);
    color: var(--title-color);
    font-family: var(--title-font);
}
#wenyan h1 {
    text-align: center;
}
#wenyan h1::after {
    content: "";
    display: block;
    margin: 0.2em auto 0;
    width: 6em;
    height: 2px;
    border-bottom: 2px solid var(--title-color);
}
#wenyan h2 {
    padding-left: 0.4em;
    border-left: 0.4em solid var(--title-color);
    border-bottom: 1px solid var(--title-color);
}
#wenyan h1 {
    font-size: 1.5em;
}
#wenyan h2 {
    font-size: 1.3em;
}
#wenyan h3 {
    font-size: 1.2em;
}
#wenyan h4 {
    font-size: 1.2em;
}
#wenyan h5 {
    font-size: 1.2em;
}
#wenyan h6 {
    font-size: 1.2em;
}
#wenyan p,
#wenyan ul,
#wenyan ol {
    margin: 1em 0.8em;
}
#wenyan hr {
    margin: 1.5em auto;
    border-top: 1px solid var(--border);
}
#wenyan li > ol,
#wenyan li > ul {
    margin: 0 0;
}
#wenyan ul,
#wenyan ol {
    padding-left: 2em;
}
#wenyan ol li,
#wenyan ul li {
    padding-left: 0.1em;
}
#wenyan blockquote {
    margin: 0;
    border-left: 0.3em solid var(--border-quote);
    padding-left: 1em;
}
#wenyan table {
    border-collapse: collapse;
    margin: 1.4em auto;
    max-width: 100%;
    table-layout: fixed;
    text-align: left;
    overflow: auto;
    display: table;
    word-wrap: break-word;
    word-break: break-all;
}
#wenyan table td,
#wenyan table th {
    font-size: 0.75em;
    padding: 9px 12px;
    line-height: 22px;
    color: #222;
    border: 1px solid var(--border-quote);
    vertical-align: top;
}
#wenyan table th {
    font-weight: bold;
    color: var(--title-color);
    background-color: var(--inline-code-bg);
}
#wenyan strong {
    padding: 0 2px;
    font-weight: bold;
}
#wenyan p code {
    padding: 2px 4px;
    border-radius: 0.3em;
    font-family: var(--monospace);
    font-size: 0.9em;
    color: var(--code-color);
    background-color: var(--inline-code-bg);
    margin: 0 2px;
}
#wenyan img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}
#wenyan pre {
    border-radius: 5px;
    font-size: 0.8em;
    line-height: 2;
    margin: 1em 0.5em;
    padding: 1em;
    background-color: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 2px 10px;
}
#wenyan pre code {
    display: block;
    overflow-x: auto;
    margin: 0;
    padding: 0;
    font-family: var(--monospace);
}
#wenyan .footnote {
    color: var(--code-color);
    background-color: var(--inline-code-bg);
}
#wenyan #footnotes p {
    display: flex;
    margin: 0;
    font-size: 0.9em;
}
#wenyan .footnote-num {
    display: inline;
    width: 10%;
}
#wenyan .footnote-txt {
    display: inline;
    width: 90%;
    word-wrap: break-word;
    word-break: break-all;
}
