#wenyan {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.75;
    font-size: 16px;
}
#wenyan * {
    box-sizing: border-box;
}
#wenyan h1, h2, h3, h4, h5, h6, p, pre {
    margin: 1em 0;
}
#wenyan pre code::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #fff
}

#wenyan pre code::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: #c8c8c84d
}

#wenyan pre code::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #90929880
}
#wenyan h1, h2 {
    clear: left;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 1.16667em;
    margin-top: 2.33333em;
}
#wenyan h3, h4, h5, h6 {
    clear: left;
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 1.27273em;
    margin-top: 1.90909em;
}
#wenyan ul, ol {
    padding-left: 1.2em;
}
#wenyan li {
    margin-left: 1.2em;
}
#wenyan img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}
#wenyan table {
    border-collapse: collapse;
    font-size: 15px;
    margin: 1.4em auto;
    max-width: 100%;
    table-layout: fixed;
    text-align: left;
    width: 100%;
}
#wenyan table th {
    background: #ebeced;
    color: #191b1f;
    font-weight: 500;
}
#wenyan table td, table th {
    border: 1px solid #c4c7ce;
    height: 24px;
    line-height: 24px;
    padding: 3px 12px;
}
#wenyan blockquote {
    border-left: 3px solid #c4c7ce;
    margin: 1.5em 0;
    padding: 0 0 1em 1em;
    color: #535861;
}
#wenyan code {
    margin: 0px 2px;
    padding: 3px 4px;
    border-radius: 3px;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "liberation mono", "courier new", monospace;
    background-color: rgb(246, 246, 246);
}
#wenyan pre {
    word-wrap: normal;
    background: #f8f8fa;
    border-radius: 4px;
    font-size: .8em;
    margin: 1.4em 0;
    overflow: auto;
    padding: .88889em;
    white-space: pre;
    word-break: normal;
}
#wenyan pre code {
    display: block;
    overflow-x: auto;
    margin: 0;
    padding: 0;
}
#wenyan hr {
    border: none;
    border-top: 1px solid #c4c7ce;
    margin: 2em auto;
    max-width: 100%;
    width: 240px;
}
#wenyan #footnotes ul {
    font-size: 0.9em;
    margin: 0;
    padding-left: 1.2em;
}
#wenyan #footnotes li {
    margin: 0 0 0 1.2em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}
